---
import FormattedDate from "@/components/blog/FormattedDate.astro";
import BlogLayout from "@/layouts/BlogLayout.astro";
import { cms } from "@/lib/cms";

const slugParam = Astro.params.slug;
if (!slugParam) throw new Error("Slug is required");

const slug = Array.isArray(slugParam) ? slugParam.join("/") : slugParam;

let post;

try {
  post = await cms.posts.get({ slug });
} catch (err) {
  console.error("❌ Failed to fetch post:", err);
  post = null;
}
---

{
  post ? (
    <BlogLayout {...post.data}>
      <div class="prose mx-auto m-4 p-4">
        {post.data.cover_image && (
          <img
            class="max-w-full"
            width="700"
            src={post.data.cover_image}
            alt={post.data.title}
          />
        )}
        <h1 class="text-3xl font-medium">{post.data.title}</h1>
        <p>
          <FormattedDate date={new Date(post.data.published_at)} />
        </p>
        <div set:html={post.data.html_content} />
      </div>
    </BlogLayout>
  ) : (
    <h1 class="text-center text-2xl mt-10 text-red-600">Post not found</h1>
  )
}
