---
import FormattedDate from "../../components/FormattedDate.astro";
import { cms } from "../../lib/cms";

const { slug } = Astro.params;

if (!slug) {
  throw new Error("Slug is required");
}

const post = await cms.posts.get({ slug });
---

<div class="prose mx-auto m-4 p-4">
  <img
    class="max-w-full"
    width="700"
    src={post.data.cover_image}
    alt={post.data.title}
  />
  <h1>{post.data.title}</h1>
  <p>
    <FormattedDate date={new Date(post.data.published_at)} />
  </p>
  <div set:html={post.data.html_content} />
</div>
