---
import BaseHead from "@/components/fundations/head/BaseHead.astro";
const { title, description } = Astro.props;
---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <main>
      <article>
        <slot />
      </article>
    </main>
  </body>
</html>
