---
// Assets
import { Image } from "astro:assets";
// Fundations
import BlogLayout from "@/layouts/BlogLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import FormattedDate from "@/components/blog/FormattedDate.astro";
// CMS
import { cms } from "@/lib/cms";
const slugParam = Astro.params.slug;
if (!slugParam) throw new Error("Slug is required");
const slug = Array.isArray(slugParam) ? slugParam.join("/") : slugParam;
let post;
try {
  post = await cms.posts.get({ slug });
} catch (err) {
  console.error("❌ Failed to fetch post:", err);
  post = null;
}
---
{
  post ? (
    <BlogLayout {...post.data}>
      <div>
        {post.data.cover_image && (
          <Image
            width={700}
            height={360}
            src={post.data.cover_image}
            alt={post.data.title}
            class="max-w-full"
          />
        )}
        <Text tag="h1" variant="displaySM" class="font-medium text-base-900">{post.data.title}</Text>
        <Text tag="p" variant="textBase" class="font-medium">
          <FormattedDate date={new Date(post.data.published_at)} />
        </Text>
        <Wrapper variant="prose" set:html={post.data.html_content} />
      </div>
    </BlogLayout>
  ) : (
    <Text tag="h1" variant="displaySM" class="font-medium text-base-900">Post not found</Text>
  )
}
