---
import BaseHead from "../../../components/BaseHead.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import { SITE_TITLE } from "../../../consts";
import { cms } from "../../../lib/cms";
import PostList from "../../../components/PostList.astro";

const { slug } = Astro.params;
const { data: posts } = await cms.posts.list({
  category: slug,
});

const { data: category } = await cms.categories.list();
const currentCategory = category?.find((c) => c.slug === slug);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={""} />
  </head>
  <body>
    <Header />
    <main class="max-w-7xl mx-auto my-12 px-2">
      <section class="mb-12">
        <div class="px-4">
          <h1 class="font-medium text-lg text-orange-500">
            Blog / {currentCategory?.slug}
          </h1>
          <p class="text-3xl font-medium">{currentCategory?.name}</p>
        </div>
      </section>
    </main>
    <div class="max-w-7xl mx-auto my-12 px-2">
      <PostList posts={posts} />
      <Footer />
    </div>
  </body>
</html>
