---
// Fundations
import BaseHead from "@/components/fundations/head/BaseHead.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import PostList from "@/components/blog/PostList.astro";
// CMS
import { SITE_TITLE } from "@/consts";
import { cms } from "@/lib/cms";
const { slug } = Astro.params;
const { data: posts } = await cms.posts.list({
  category: slug,
});
const { data: category } = await cms.categories.list();
const currentCategory = category?.find((c) => c.slug === slug);
---

<!doctype html>
<BaseHead title={SITE_TITLE} description={""} />
<section>
  <Wrapper variant="standard" class="py-24 lg:py-32">
    <Text tag="h1" variant="displaySM" class="font-medium text-base-900">
      Blog / {currentCategory?.slug}
    </Text>
    <Text tag="p" variant="textBase" class=" font-medium"
      >{currentCategory?.name}</Text
    >
    <PostList posts={posts} />
  </Wrapper>
</section>
