---
// Fundatations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import BlogCard from "@/components/blog/BlogCard.astro";

// CMS
import { cms } from "@/lib/cms";
// Components
const { data: posts } = await cms.posts.list();
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-24 lg:pt-32">
      <Text tag="h1" variant="displayMD" class="text-base-900 text-balance">
        Welcome to Lexizen blog!
      </Text>
    </Wrapper>
  </section>
  <section>
    <Wrapper variant="standard" class="py-12">
      <div class="grid grid-cols-1 md:grid-cols-2">
        <Text tag="p" variant="textBase"> Latest on Lexizen </Text>
        <Button
          isLink={true}
          size="xs"
          variant="muted"
          href="/blog"
          class="w-fit lg:ml-auto">See all blog posts</Button
        >
      </div>
      <ul
        role="list"
        class="grid grid-cols-1 md:grid-cols-3 gap-8 gap-y-24 mt-4 list-none"
      >
        {posts?.slice(0, 3).map((post) => <BlogCard post={post} />)}
      </ul>
    </Wrapper>
  </section>
</BaseLayout>
