---
import Button from "@/components/fundations/elements/Button.astro";
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<Button isLink={true} variant="muted" size="xs" href={href}>
  <slot />
</Button>
