---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";

const {
  title = "Untitled Post",
  description = "Read more on our blog",
  image = "/blog-placeholder-1.jpg",
} = Astro.props;
---

<BaseLayout {title} {description} {image}>
  <section>
    <Wrapper variant="standard" class="py-24 lg:py-32"> <slot /></Wrapper>
  </section>
</BaseLayout>
