---
// Foundations
import BaseHead from "@/components/fundations/head/BaseHead.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const { title, description } = Astro.props;
---

<BaseHead title={title} description={description} />
<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24 lg:py-32">
     
      <slot />
    </Wrapper>
  </section>
</BaseLayout>
